body {
    background-color: gray;
    height:100vh;
    display:flex;
    justify-content:center;
  }

.bigbox{
    width:500px;
    height:200px;
    display:flex;
    justify-content: center;
    border-radius:10px;
    border:15px;
    padding:20px;
    margin-top: 40px;
    background-color:white;
    font-family: Arial, Helvetica, sans-serif;
}

.boxhead{
  padding:10px;
  margin-top:-20px;
  border:20px;
  width:200px;
  height:20px;
  background-color:red;
  border-radius:10px;
  display:flex;
  justify-content:center;
  position:absolute;
  top:10%;
  left:40%;

}
